.contact_sec{
    margin-bottom: 100px;
}
.address_content{
    .contact_links{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        p{
            margin-left: 9px;
        }
        .location{
            line-height: 1.2;
        }
        .icon{
            font-size: 25px;
            color: #212EA0;
        }
        .icon_phone{
            font-size: 19px;
            color: #212EA0;
        }
    }
}
.form_content{
    input{
        background-color: #d1d5f9 !important;
        
    }
    textarea{
        background-color: #d1d5f9 !important;

    }
     input::placeholder{
        font-size: 15px !important;
        color: #676767 !important;
     }
}
p{
    font-size: 15px;
    margin-bottom: 0;
    
}